html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.partybutton_container {
  text-align: center;
  padding-top: 5px;
}

.party_icon {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
  vertical-align: middle;
}

.party_list_element {
  margin: 5px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10%;
}

#party_menu {
  background-color: lightgray;
  font-weight: bold;
  padding: 10px 0 10px 0;
  text-align: center;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.container > div {
  border: 2px solid black;
  margin: 2px;
}

#filter_area {
  text-align: center;
  padding: 10px 0 10px 0;
  background-color: lightgray;
}

.four {
  grid-column: 3 / 4;
}

#name_filter {
  display: inline;
}

.one {
  background-color: lightblue;
  font-size: larger;
  font-weight: bold;
  grid-column: 2 / 3;
  padding: 5px;
  text-align: center;
}

#character_details {
  padding: 10px;
}

.character_image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 20px;
}

.character_list_element {
  margin: 1px;
  font-weight: bold;
  text-transform: uppercase;
  margin-left: 10%;
  vertical-align: middle;
}

#character_list {
  height: 400px;
  overflow: scroll;
}

.three {
  grid-column: 2 / 3;
}

.two {
  grid-column: 1 / 2;
}
